/*common start*/
*{
	font-family: sans-serif;

}
body {
	margin: 0;
	padding: 0;
}
/*common end*/
/*header start*/
header {
	background-color: #121B2A;
	padding: 15px 0;

}
.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	float: left;
	width: 20%;


}
.logo img {
	width: 100%;
}
.menu{
	float: right;
	width: 65%;
	margin-top: 30px;
}
.menu ul {
	float: right;
}
.menu ul li{
	display: inline-block;
	list-style: none;
}
.menu ul li a{
	text-decoration: none;
	font-size: 16px;
	padding: 5px 15px;
	display: block;
	color: #ffffff;
	transition: .5s;
}
.menu ul li a:hover{
	color: #007ABE;
}
.menu ul li a:last-child{
	padding-right: 0;
}
/*header end*/

/*banner start*/
.banner {
	background-image: url(banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.content{
	margin-top: 175px;
	width: 65%;
}
.content p:first-child{
	font-size: 55px;
	margin: 0;
	color: #fff;
	text-shadow: 3px 2px 3px black, 3px 2px 3px black;

}
.content h1{
	font-size: 55px;
	margin: 0;
	color: #0077B6;
	text-shadow: 3px 2px 3px black, 3px 2px 3px black;

}
.content p:last-child{
	font-size: 20px;
	color: #fff;
	text-shadow: 3px 2px 3px black, 3px 2px 3px black;
	line-height: 1.7;

}
.container button {
	padding: 10px 20px;
	font-size: 35px;
	font-weight: 700;
	border:none;
	border-radius: 8px;
	margin-top: 30px;
	margin-bottom: 175px;

	
}
.container button:hover{
	transition: .5s;
	text-shadow: 3px 2px 3px #43B0EF, 3px 2px 3px black;
	
}
.fa, .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #0079BF;
    padding-left: 10px;
}
/*banner end*/
/*servie start*/
.service{
	background-color: #121B2C;
	padding: 40px 0;
}
.container2 {
	width: 85%;
	margin: 0 auto;
	overflow: hidden;
/*	border: 5px solid yellow;
*/}

.service-{
	float: left;
	border-right: 2px solid gray;
	width: 33%;
}
.service-:last-child{
	border: none;
}	
.titel{
	overflow: hidden;
   /*	border: 2px solid white;*/
   	width: 90%;
   	margin: 0 auto;
}
.icon{
	float: left;
	width: 29%;
	/*border: 2px solid white;
*/
}
.icon img {
	
	width: 100%;
}

.titel-head{
	width: 65%;
	line-height: 33px;
	float: left;
	margin-top: 20px;
	/*border: 2px solid white;*/
	text-shadow: 2px 2px 3px black, 2px 2px 3px black;

}
.titel-head h1{
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	margin: 0;
}
.titel-head h2{
	font-size: 24px;
	color: #0077B6;
	margin: 0;
}
.titel-content{
/*	border: 2px solid white;*/
	width: 90%;
	margin: 10px auto 20px;
	line-height: 23px;
	word-spacing: 1.1px;
}
.titel-content p{
	font-size: 16px;
	margin: 0;
	padding: 0 10px;
	color: #fff;	
}
/*servie end*/
/*service2 starts*/
.titel-head2 {
	width: 68%;
	line-height: 33px;
	float: left;
	margin-top: 20px;
/*	border: 2px solid white;
*/	text-shadow: 2px 2px 3px black, 2px 2px 3px black;

}
.titel-head2 h1{
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	margin: 0;
}
.titel-head2 h2{
	font-size: 24px;
	color: #0077B6;
	margin: 0;
}
.titel-content2{
	margin-bottom: 22px !important;
}
/*service2 ends*/
/*service3 starts*/
.titel-head3{
	overflow: hidden;
	margin-top: 60px;
}
.titel-head3 h1{
	float: left;
	padding-right: 8px;
}
.titel-head3 h2{
	float: left;
}
/*service3 ends*/

/*contact starts*/
.contact {
	background-color: #040811;
}
.cont-wrapper {
	margin: 40px 0;
	overflow: hidden;
}
.element1 {
	float: left;
	width: 25%;
	margin: 15px;
}

.cont {
	width: 80%;
    margin: 20px auto;
}

.address {

}

.address h1{
	color: #fff;
	margin: 0;
	font-size: 20px;
	font-weight: 500;
}
.address h1 span{
	color: #007ABE;
}
.address p{
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	line-height: 1px;
	word-spacing: 1px;
    margin: 20px auto 17px;
}

.cont-info {
	color: #fff;
	font-size: 12px;
	margin-top: 35px;
}
.cont-info p:first-child{
	margin: 5px 0 7px;
}
.cont-info p:first-child span{
	margin-left: 10px;
}
.cont-info p:nth-child(2){
	margin: 0;
}
.cont-info p:nth-child(2) span{
	margin-left: 35px;
}
.cont-info p:last-child{}
.cont-info p:last-child span{
	margin-left: 27px;
}
/*element1 ends*/
/*element2 starts*/
.element2 {
	width: 30%;
	float: left;
	margin-top: 2px;
}

.customer {
	margin-bottom: 20px;
}

.message {
	margin: 15px;
    padding: 15px;
    border: none;

}
 .talkbubble {
    width: 77%;
    background-color: #0C1019;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    }
    .talkbubble:before {
    content: "";
    position: absolute;
    right: 12%;
    top: 164px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 66px solid transparent;
    border-top: 24px solid #0C1019;
    }
.message h2{
	color: #fff;
	margin: 0;
	font-size: 20px;
	font-weight: 500;
}
.message h2 span{
	color: #007ABE; 
}
.message p{
	color: #fff;
	margin: 0;
	margin-top: 15px;
	font-size: 12px;
	line-height: 2;
	word-spacing: 1px;
}

.website {
	color: #fff;
	margin: 20px 0 0;
	padding: 0 40px;
	font-size: 12px;

}
.website h2{
	margin: 0;
	font-size: 12px;
}
.website p{
	margin: 5px 0 0;
}
/*element2 ends*/
/*element3 starts*/
.img{
    width: 14%;
    float: left;
    margin-top: 2px;
}
.img img{
	width: 100%;
}
/*element3 ends*/
/*element4 starts*/
.appstore{
	padding: 20px;
	width: 20%;
	float: left;
}
.appstore h2:first-child{
	color: #fff;
	margin: 0;
	font-weight: 500;
}
.appstore h2:nth-child(2){
	color: #007ABE;
	margin: 0;
	font-weight: 700;

}
.app{
	margin-top: 20px;
	width: 80%;
	overflow: hidden;
	padding: 5px;
	border: none;
	border-radius: 5px;
}
.app:hover{
	transition: .5s;
	background-color: #43B0EF;
}
.app a{
	text-decoration: none;
	color: #000;
	width: 70%;

}
.app a i{
	font-size: 40px;
    color: black;
    float: left;
    width: 10%;
    margin: 0 5px 0;
    padding: 0;
}
.app a span {
	float: right;
	margin-right: 7px;
}
.app a span p:first-child{
	margin: 0;
    font-size: 11px;
    font-weight: 700;
}
.app a span p:last-child{
	font-size: 25px;
    margin: 0;
    font-weight: 700;
}
/*element4 ends*/
/*contact ends
/*footer start*/
.footer {
	background-color: #121B2C;
}

.container3 {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}

.menu-last {
	float: left;
	width: 51%;
}
.menu-last nav{
	margin-top: -10px;
	margin-left: 10px;

}
.menu-last nav ul {
	float: left;
	padding: 5px;
	padding: 10px;

}
.menu-last nav ul li{
	display: inline-block;
	list-style: none;

}
.menu-last nav ul li a{
	text-decoration: none;
	font-size: 12px;
	border-right: 1px solid #fff; 
	margin: 0;
	padding: 0 15px;
	display: block;
	color: #ffffff;
	transition: .5s;
}
.menu-last nav ul li a:hover{
	color: #007ABE;
}
.menu-last nav ul li:nth-child(1) a{
	padding-left: 0;
}
.menu-last nav ul li:nth-child(6) a{
	padding-right: 0;
	border-right: none;
}
.container3 p{
	color: #fff;
    float: left;
    width: 51%;
    margin: 0;
    margin-top: -10px;
    margin-left: 20px;
    padding: 0;
    font-size: 12px;
}
.footer-img {
	float: right;
    margin-top: -50px;
    width: 35%;

}
.footer-img img{
	width: 100%;

}
/*footer end*/